# No lockfile for this project

Gemfile.lock

# Generate docs yourself

rdoc
doc
_yardoc
.yardoc

# Ignore local dev only files

*.dump
*.gem
*.log
*.rbc
*.cache
*.sqlite3
*.sqlite3-journal
.bundle
.config
.env
.env.*
config/database.yml
config/secrets.yml
coverage
export
InstalledFiles
lib/bundler/man
node_modules
pkg
public/system/**/*
rerun.txt
spec/reports
spec/tmp/**/*
tags
test/tmp
test/version_tmp
vendor/cache/**/*
vendor/bundle/**/*
vim/.netrwhist
zeus.json

# Ignore compilation junk

**.orig
*.rbc
*.sassc
*.sw[nop]
.rspec
.sass-cache
capybara-*.html
pickle-email-*.html
rerun.txt

# Ignore filesystem trash

*.DS_Store
*Thumbs.db
.DS_Store?
ehthumbs.db
Thumbs.db

# Specifically DO NOT ignore these repo settings

!.gitignore
!.slugignore
!.ruby-version
!.yardops
