.markdown-composer {

  @include min-width($bpFull) {
    float: left;
    max-width: 620px;
    width: 79%;
  }

  &-controls {
    @include clearfix;
    background: $cWhite;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
    border: 1px solid $cGrey;
    margin: 0 auto -1px auto;
    max-width: 1150px;
    padding: 12px 10px 12px 10px;
    transition: background-color 100ms linear, border-color 100ms linear;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &-left {
      float: left;
    }

    &-right {
      float: right;
    }

    .-focused &,
    .-fullscreen & {
      border-bottom: 0;
      border-color: darken($cSapphire, 10);
      border-right-color: $cSapphire;
    }
  }// end controls

  &-workspace {
    @include clearfix();

    textarea {
      float: none;
    }
  }

  textarea {
    border-radius: 0px 0px 2px 2px;
    border-top: 1px dashed $cGrey;
    color: #000;
    font-family: $fMonospace;
    font-size: 14px;
    max-width: none;
    padding: 12px 12px 12px 12px;
    width: 100%;

    &:focus {
      border-top-color: $cGrey;
    }
  }// end textarea

  // THIS ISN'T EVEN MY FINAL FORM!

  .-fullscreen-toggle {
    display: none;

    @include min-width($bpFull) {
      display: block;
    }
  }

  &.-fullscreen {
    background: $cCoolGrey;
    background: $cWhite;
    display: block;
    height: 100%;
    left: 0;
    max-width: none;
    padding: 3% 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000000;

    .markdown-composer-workspace {
      height: 100%;
      margin: 0 auto;
      max-width: 1150px;
      position: relative;
    }

    textarea {
      border-bottom-color: $cSapphire;
      border-left-color: darken($cSapphire, 10);
      border-right-color: $cTaupe;
      display: block;
      font-size: 14px;
      float: left;
      height: 94%;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }

    .markdown-composer-preview {
      background: #fdfdfd;
      border-bottom: 1px solid $cSapphire;
      border-radius: 0 0 2px 0;
      border-right: 1px solid $cSapphire;
      border-top: 1px dashed $cGrey;
      height: 94%;
      overflow-y: scroll;
      padding: 12px 16px;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
    }
  }// end -fullscreen
}

.markdown-composer-button {
  background: none;
  color: $cGrey;
  transition: color 100ms linear;

  span {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
  }
}

.markdown-composer.-focused,
.markdown-composer:hover,
.markdown-composer:focus {

  .markdown-composer-button {
    color: $cBlack;
    &:hover, &:active {
      color: $cSapphire;
    }
  }
}
