<div class="main-controls">

  <div class="right">

    <%= link_to url_for([:new, :admin, :blog_post]), class:"button -primary" do %>
      <%= fontawesome_icon :plus %>
      New Blog Post
    <% end %>

  </div>

</div>
