<div class="main-header">

  <div class="right">

    <button class="button">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -primary">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -danger">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

  </div>

</div>

<form action="" method="post" accept-charset="utf-8">

  <div class="markdown-controls clearfix">

    <div class="left">
      <button class="md-button-header icon icon-header" title="Header"></button>
      <button class="md-button-strong icon icon-bold" title="Bold"></button>
      <button class="md-button-em icon icon-italic" title="Italic"></button>
      <button class="md-button-image icon icon-image" title="Image"></button>
      <button class="md-button-link icon icon-link" title="Link"></button>
      <button class="md-button-ol icon icon-list-ol" title="List"></button>
      <button class="md-button-ul icon icon-list-ul" title="List"></button>
      <button class="md-button-blockquote icon icon-quote-left" title="List"></button>
      <button class="md-button-interstitial">Interstitial</button>
    </div>

    <div class="right">
      <button class="md-button-write -joined-right -current" title="Header">Write</button>
      <button class="md-button-preview -joined-left" title="Header">Test</button>
    </div>

  </div>

  <%= text_area :blog_post, :body, {
    class: "markdown",
    rows: 20
  } %>

</form>
