<div class="main-header">

  <div class="right">

    <button class="button">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -primary">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

    <button class="button -danger">
      <%= fontawesome_icon :plus %>
      New Blog Post
    </button>

  </div>

</div>

<form action="" method="post" accept-charset="utf-8">



</form>
