$monospace: Menlo, Consolas, "Liberation Mono", Courier, monospace;

%monospace,
.monospace {
  font-family: $monospace;
  font-weight: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

$helvetica: "Helvetica Neue", "Segoe UI", Arial, freesans, sans-serif;

%helvetica,
.helvetica {
  font-family: $helvetica;
}

@font-face {
  font-family: "FontAwesome";
  src: font-url("admin/fontawesome.eot");
  src: font-url("admin/fontawesome.eot?#iefix") format("embedded-opentype"),
       font-url("admin/fontawesome.woff2") format("woff2"),
       font-url("admin/fontawesome.woff") format("woff"),
       font-url("admin/fontawesome.ttf") format("truetype"),
       font-url("admin/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

$font-awesome: FontAwesome;

%font-awesome,
.font-awesome {

  font: normal normal normal 14px FontAwesome !important;
  line-height: 14px;
  text-decoration: none;

  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); // ensures no half-pixel rendering in firefox

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.icon:before {
  @extend %font-awesome;
}

