// ---------------------------------------------------------------------------
// GENERAL RESETS
// ---------------------------------------------------------------------------

// `border-box` is love, `border-box` is life

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Reset most styles

a, abbr, acronym, address, applet, article, aside,
b, big, blockquote, body, button,
canvas, caption, cite, code,
dd, del, details, dfn, div, dl, dt,
em, fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, html,
i, iframe, img, input, ins,
kbd, label, legend, li,
main, menu, nav, object, ol, option, p, pre, q,
s, samp, section, select, small, span, strike, strong, sub, summary, sup,
table, tbody, td, textarea, tfoot, th, thead, tr, tt,
ul, var {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  background-repeat: no-repeat;
  border-collapse: collapse;
  border-radius: 0;
  border-spacing: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

b, i {
  font-style: inherit;
  font-weight: inherit;
}

// Add the glove cursor to each
// universal element that needs it

a, button,
label, input[type=checkbox],
select, option {
  cursor: pointer;
}

// More sensible font default
// Prevent zoom issues on mobile browsers
// Force a scrollbar

html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin-bottom: 1px;
}

// Reset `table` border junk

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Ditch default `quote` styles

blockquote, q {
  quotes: none;
  &:after, &:before {
    content: "";
    content: none;
  }
}

// Prevent nasty 3rd-party embeds from overlapping
// absolute or fixed elements

iframe,
object,
embed {
  z-index: 1 !important;
}

// ---------------------------------------------------------------------------
// BROWSER FIXES
// ---------------------------------------------------------------------------

// Fix HTML5 issues where these items are not block-level by default

article, aside, canvas, details,
figcaption, figure, footer,
header, hgroup, main, menu, nav,
section, summary {
  display: block;
}

// Fix `textarea` overflow on IE 7/8/9/10

textarea {
  overflow: auto;
}

// Prevent modern browsers from displaying `audio` when it doesn't have controls.
// Remove excess height in iOS 5 devices.

audio:not([controls]) {
  display: none;
  height: 0;
}

// Remove up/down spinners on some WebKit elements

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

// Remove extra padding that Firefox adds to elements

::-moz-focus-inner {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

// Correct `inline-block` display not defined in IE 8/9.
// Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
