html {
  height: 100%;
  margin-bottom: 1px;
  background: $cEggshell;
}

body {

  @include clearfix();
  background: #fff;
  font-family: $fHelvetica;
  height: 100%;
  padding: 0 20px 0 20px;
  position: relative;
  width: 100%;

  &.admin {
    &:after {
      z-index: 5;
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      background: $cEggshell;
      top: 0;
      left: 0;
      display: block;
    }
  }

  &.-modal-open {
    overflow: hidden;
  }

  //@include min-width($bpFull) {
  //  background-image: linear-gradient(to right, $cEggshell, $cEggshell 25%, #fff 25%);
  //  background-repeat: repeat-y;
  //}

}

.inner-align {
  @include clearfix;
  max-width: 1000px;
  margin: 0 auto;
}

.application-container {
  @include clearfix();
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  position: relative;
  z-index: 100;
  @include min-width($bpFull) {
    display: table;
  }
}
