html {
  height: 100%;
  margin-bottom: 1px;
  background: $cEggshell;
}

body {

  @include clearfix();
  background-color: $cWhite;
  font-family: $fHelvetica;
  padding: 0 20px 0 20px;
  width: 100%;

  @include min-width($bpFull) {
    background-color: $cEggshell;
    background-image: linear-gradient(to right, $cEggshell 50%, #fff 50%);
  }

  &.-modal-open {
    overflow: hidden;
  }

}

:focus {
  outline: 1px solid transparentize($cSapphire, 0.25);
}

*:hover,
*:active {
  outline: none !important;
}

.inner-align {
  @include clearfix;
  max-width: 1000px;
  margin: 0 auto;
}

.application-container {
  @include clearfix();
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  width: 100%;
  @include min-width($bpFull) {
    display: table;
    height: 100vh;
  }
}

.mobile-only {
  @include min-width($bpFull) {
    display: none !important;
  }
}

.desktop-only {
  @include max-width($bpFull) {
    display: none !important;
  }
}
