html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  @include clearfix();
  font-family: $helvetica;
  background: $cEggshell;
  padding: 0 20px 20px;
  width: 100%;
}

.application-container {
  @include clearfix();
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
