<div class="markdown-composer">

  <div class="markdown-composer-controls">

    <div class="left">
      <button type="button" tabindex="-1" class="markdown-composer-button -header icon icon-header" title="Header"></button>
      <button type="button" tabindex="-1" class="markdown-composer-button -em icon icon-italic" title="Italic Text"></button>
      <button type="button" tabindex="-1" class="markdown-composer-button -strong icon icon-bold" title="Bold Text"></button>
      <button type="button" tabindex="-1" class="markdown-composer-button -link icon icon-link" title="Link"></button>
      <button type="button" tabindex="-1" class="markdown-composer-button -ordered-list icon icon-list-ol" title="Numeric List"></button>
      <button type="button" tabindex="-1" class="markdown-composer-button -unordered-list icon icon-list-ul" title="Bullet List"></button>
      <button type="button" tabindex="-1" class="markdown-composer-button -blockquote icon icon-quote-left" title="Pullquote"></button>
    </div>

    <div class="right">
      <button type="button" tabindex="-1" class="markdown-composer-button -fullscreen-toggle">
        <span>Fullscreen</span>
        <%= fontawesome_icon :arrows_alt %>
      </button>
    </div>

  </div>

  <div class="markdown-composer-workspace">
    <%= f.text_area method, options.reverse_merge({rows: 20}) %>
    <div class="markdown-composer-preview" style="display:none"></div>
  </div>

</div>
