<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body class="admin-authentication">
    <%= render "shared/skiplinks" %>
    <div id="main" class="main" role="main">
      <%= yield %>
    </div>
  </body>
</html>
