<div class="footer">
  <div class="inner-align">
    <p>
      <%= "© #{Time.current.year} #{Tolaria.config.company_name}." %>
      Information may be proprietary or confidential.
    </p>
  </div>
</div>
