<head>
  <meta charset="utf-8">
  <title><%= "#{content_for(:title)} • " if content_for(:title) %><%= Tolaria.config.interface_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin/admin", media:"all" %>
</head>
