<div class="navigation">

  <% Tolaria.categories.each do |category| %>

    <div class="navigation-group">
      <h3><%= category %></h3>
      <ul>
        <% Tolaria.classes_for_category(category).each do |managed_class| %>
          <li>
            <%= tolaria_navigation_link(
              managed_class.model_name.human.pluralize.titleize,
              managed_class.icon,
              url_for([:admin, managed_class.klass])
            ) %>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <div class="navigation-group mobile-only">
    <h3>Options</h3>
    <ul>
      <li>
        <%= tolaria_navigation_link("Your Account", :user, edit_admin_administrator_path(current_administrator)) %>
      </li>
      <li>
        <%= tolaria_navigation_link("Sign Out", :sign_out, admin_destroy_session_path, method: :delete) %>
      </li>
    </ul>
  </div>

</div>
