<div class="navigation">

  <% Tolaria.managed_classes.group_by(&:category).each do |category, managed_classes| %>

    <div class="navigation-group">
      <h3><%= category %></h3>
      <ul>
        <% managed_classes.sort_by(&:priority).each do |managed_class| %>
          <li>
            <%= tolaria_navigation_link(
              managed_class.model_name.human.pluralize.titleize,
              managed_class.icon_name,
              url_for([:admin, managed_class.klass])
            ) %>
          </li>
        <% end %>
      </ul>
    </div>

  <% end %>

</div>
