$cButtonNeutral: #fcfcfc;
$cButtonNeutralActive: lighten($cButtonNeutral, 10);

$cButtonPrimary: #00addf;
$cButtonPrimaryActive: lighten($cButtonPrimary, 3);

$cButtonDanger: #da3946;
$cButtonDangerActive: lighten($cButtonDanger, 10);

.button {

  appearance: none;
  border-radius: 2px;
  border: 1px solid black(0.5);
  box-shadow: 0px 1px 0px white(0.25) inset, 0px 1px 0px black(0.15);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  transition: background-color 100ms linear;
  padding: 8px 14px 8px 12px;
  white-space: nowrap;

  .icon {
    display: inline-block;
    font-size: 14px;
    margin: 0 2px 0 0;
    text-align: center;
    width: 14px;
  }

  & {
    color: $cPlum;
    background-color: $cButtonNeutral;
    text-shadow: 0px 1px 0px white(0.20);
    &:hover, &:active {
      background-color: $cButtonNeutralActive;
    }
  }

  &.-primary {
    color: $cWhite;
    background-color: $cButtonPrimary;
    text-shadow: 0px 1px 0px black(0.25);
    &:hover, &:active {
      background-color: $cButtonPrimaryActive;
    }
  }

  &.-danger {
    color: $cWhite;
    background-color: $cButtonDanger;
    text-shadow: 0px 1px 0px black(0.25);
    &:hover, &:active {
      background-color: $cButtonDangerActive;
    }
  }

}
