.button {

  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  border: 1px solid black(0.5);
  box-shadow: 0px 1px 0px white(0.25) inset, 0px 1px 0px black(0.15);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  line-height: 30px;
  margin: 0 0 5px 0;
  padding: 0px 14px 0px 12px;
  transition: background-color 100ms linear, border-color 100ms linear;
  vertical-align: middle;
  white-space: nowrap;

  @include min-width($bpFull) {
    margin: 0;
  }

  &.-small {
    transition: none;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 9px 2px 9px;
    height: auto;
    margin: 0;
    .icon {
      font-size: 12px;
    }
  }

  .icon {
    margin: 0 2px 0 0;
  }

  & {
    color: $cPlum;
    background-color: $cButtonNeutral;
    text-shadow: 0px 1px 0px white(0.20);
    &:hover, &:active {
      background-color: $cButtonNeutralActive;
    }
  }

  &.-primary {
    color: $cWhite;
    background-color: $cButtonPrimary;
    text-shadow: 0px 1px 0px black(0.25);
    &:hover, &:active {
      background-color: $cButtonPrimaryActive;
    }
  }

  &.-danger {
    color: $cWhite;
    background-color: $cButtonDanger;
    text-shadow: 0px 1px 0px black(0.25);
    &:hover, &:active {
      background-color: $cButtonDangerActive;
    }
  }

  &:disabled, &.disabled {
    opacity: 0.75;
    background: $cGrey;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

}

// Currently convinced it is impossible to make <a> and <button>
// look the same in Firefox without hacks like this.
@-moz-document url-prefix() {
  button.button {
    line-height: 1;
  }
  .button.-small {
    padding-top: 1px;
    padding-bottom: 3px;
  }
}
