.flash-message {

  @include clearfix;
  background: $cSapphire;
  border-bottom: 1px solid $cPlum;
  box-shadow: 0px 1px 0px white(0.2) inset;
  color: $cWhite;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.4;
  margin: 0 -20px 0 -20px;
  padding: 10px 20px;
  text-shadow: 0;

  .inner-align {
    max-width: 1000px;
    margin: 0 auto;
  }

  @include min-width($bpFull) {
    padding: 12px 20px;
  }

  i {
    margin-right: 5px;
  }

  p {
    display: block;
    max-width: 34em;
    float: left;
  }

  button {
    display: none;
    @include min-width($bpFull) {
      display: block;
      transition: border-color 200ms linear, color 200ms linear;
      color: white(0.8);
      border: 1px solid white(0.8);
      padding: 0 6px;
      border-radius: 2px;
      line-height: 21px;
      font-size: 12px;
      background: transparent;
      font-weight: bold;
      float: right;
    }
  }

  &:hover {
    button {
      border-color: white;
      color: white;
    }
  }

  &.-error {
    background: $cRuby;
  }

}
