.header-stripe {
  background-image: asset-data-url("admin/columbia_banner.png");
  background-position: -250px 0px;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  border-bottom: 1px solid black;
  height: 3px;
  margin: 0 -20px;
  position: relative;
  z-index: 100;
}

@-moz-document url-prefix() {
  .header-stripe {
    margin-bottom: -1px;
  }
}

.header {

  @include clearfix;
  background: $cPlum;
  border-bottom: 2px solid black;
  font-size: 14px;
  text-shadow: $plumShadow;
  margin: 0 -20px;
  padding: 0 20px;
  position: relative;
  z-index: 100;

  &-menu-trigger {
    color: #fff;
    display: block;
    line-height: 18px;
    padding: 10px 0 10px 0;
    float: left;
    span {
      padding: 5px 18px 5px 0;
    }
  }

  &-app-title {
    display: none;
    @include min-width($bpFull) {
      color: $cWhite;
      display: block;
      line-height: 18px;
      padding: 10px 0 10px 0;
      float: left;
    }
  }

  &-user-controls {
    display: table;
    float: right;
    li {
      display: table-cell;
      padding: 10px 0 10px 20px;
      line-height: 18px;
      vertical-align: middle;
    }
  }

  &-help-link {
    display: none;
    @include min-width($bpFull) {
      color: $cGrey;
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      line-height: 14px;
      &:hover, &:active, &:focus {
        color: $cWhite;
      }
    }
  }

  &-user-profile {

    color: $cGrey;

    img {
      float: left;
      margin: 0 7px 0 0;
      border: 1px solid $cGrey;
      border-radius: 1px;
    }

    &:hover, &:active {
      color: $cWhite;
      img {
        border-color: $cWhite;
      }
    }

  }

  &-user-signout {
    background: 0;
    color: $cGrey;
    &:hover, &:active {
      color: $cWhite;
    }
  }

}
