.header-stripe {
  border-bottom: 1px solid black;
  height: 3px;
  background: image-url("admin/rule-banner.jpg") repeat;
  background-size: 100% 100%;
  background-position: -250px 0px;
  margin: 0 -20px;
}

.header-stripe-inner {
  width: 100%;
  height: 3px;
  background: image-url("admin/columbia.png") center center repeat;
}

.header {
  @extend %clearfix;
  background: $cPlum;
  border-bottom: 2px solid black;
  font-size: 14px;
  min-height: 32px;
  text-shadow: $plumShadow;
  margin: 0 -20px;
  padding: 0 20px;
}

.header-inner {
  @extend %clearfix;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.header-app-title {
  color: $cWhite;
  display: block;
  line-height: 1;
  padding: 11px 0 10px 0;
  position: relative;
}

.header-supplemental {
  display: block;
  float: left;
  li {
    float: left;
    padding: 0 15px 0 0px;
  }
  a {
    color: white(0.75);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 13px 0 9px 0;
    line-height: 1;
    &:hover, &:active {
      color: $cWhite;
    }
  }
}

.header-user-controls {

  display: block;
  float: right;

  li {
    float: left;
    padding: 0 0px 0 15px;
  }

  a {
    color: $cGrey;
    position: relative;
    display: block;
    padding: 10px 0 10px 0;
    &:hover, &:active {
      color: $cWhite;
      img {
        border-color: $cWhite;
      }
    }
  }

  .icon {
    margin-right: 3px;
    font-size: 14px;
  }

  img {
    float: left;
    margin-top: -1px;
    border-radius: 2px;
    border: 1px solid $cGrey;
    margin-right: 6px;
    box-shadow: $plumShadow;
  }

}



