// Make this table-cell auto-size to its content
@mixin auto-size-column {
  width: 1px;
  white-space: nowrap;
}

.index-table-wrap {
  @include clearfix;
  float: left;
  overflow-x: scroll;
  width: 100%;
  @include min-width($bpFull) {
    overflow-x: visible;
  }
}

.index-table {

  min-width: 730px;
  text-align: left;
  width: 100%;

  @include min-width($bpFull) {
    min-width: 0;
  }

  .monospace {
    font-size: 14px;
  }

  thead tr {
    border-bottom: 1px solid $cGrey;
  }

  tbody tr {

    font-size: 15px;
    border-bottom: 1px dashed $cGrey;

    &:nth-child(even) {
      background-color: #fbfbfb;
    }

    &:hover, &:active,
    &:focus {
      background-color: transparentize($cButtonPrimary, 0.95) !important;
    }

  }

}

.index-th {

  color: $cPlum;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  vertical-align: middle;

  a {
    color: $cPlum;
    font-weight: bold;
    &.desc, &.asc,
    &:hover, &:active {
      color: $cThreespotPink;
    }
  }

  &:first-of-type {
    @include auto-size-column;
  }

}

.index-td {

  border: 0;
  margin: 0;
  text-align: left;
  vertical-align: middle;

  &:first-of-type {
    @include auto-size-column;
  }

  a {
    @include clearfix;
    color: $cPlum;
    display: block;
    padding: 11px 8px 11px 8px;
    width: 100%;
  }

  img {
    border-radius: 1px;
    border: 1px solid $cPlum;
    display: block;
    float: left;
    margin: -1px 7px 0 0;
  }

}

@-moz-document url-prefix() {
  .index-td {
    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.actions-td {
  @include auto-size-column;
  .button {
    margin: 0 0 0 8px;
  }
}
