// Make this table-cell auto-size to its content
@mixin auto-size-column {
  width: 1px;
  white-space: nowrap;
}

.index-table {

  width: 100%;
  text-align: left;

  .monospace {
    font-size: 14px;
  }

  thead tr {
    border-bottom: 1px solid $cGrey;
  }

  tbody tr {

    font-size: 15px;
    border-bottom: 1px dashed $cGrey;

    &:nth-child(even) {
      background-color: #fbfbfb;
    }

    &:hover, &:active,
    &:focus {
      background-color: transparentize($cButtonPrimary, 0.95) !important;
    }

  }

}

.index-th {

  padding: 8px 8px 8px 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: $cPlum;
  font-weight: bold;

  a {
    color: $cPlum;
    font-weight: bold;
    &.desc, &.asc,
    &:hover, &:active {
      color: $cThreespotPink;
    }
  }

  &:first-of-type {
    @include auto-size-column;
  }

}

.index-td {

  border: 0;
  margin: 0;
  text-align: left;

  &:first-of-type {
    @include auto-size-column;
  }

  a {
    color: $cPlum;
    display: block;
    padding: 11px 8px 11px 8px;
    width: 100%;
  }

  img {
    display: block;
    float: left;
    margin: -1px 7px 0 0;
    border: 1px solid $cPlum;
    border-radius: 1px;
  }

}

.actions-td {

  @include auto-size-column;

  .button {
    margin: 0 0 0 8px;
  }

}
