label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: $cDarkPlum;
}

.hint {
  font-size: 12px;
  color: #888;
  font-style: italic;
  margin: 8px 0 0 0;
}

input[type=text],
textarea {

  background: #fefefe;
  border-radius: 2px;
  border: 1px solid $cTaupe;
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 10px;
  transition: background-color 100ms linear, border-color 100ms linear;


  &:focus {
    border-color: darken($cSapphire, 10);
    border-bottom-color: $cSapphire;
    border-right-color: $cSapphire;
    background: $cWhite;
  }

}
