#main {

  position: relative;
  float: left;
  height: 1000px;
  width: 100%;
  background: white(0.50);

  @include min-width($bpFull) {
    border-left: 1px solid black(0.10);
    padding: 0 0 0 15px;
    width: 83.95%;
  }

}

.main-header {
  @extend %clearfix;
  width: 100%;
  padding: 15px 0 15px 15px;
  border-bottom: 3px double $cGrey;
}

.form-left {
  float: left;
  width: 67%;
}

.form-right {
  float: right;
  width: 30%;
}
