.main {

  @include clearfix;
  background-color: #fff;
  width: 100%;
  padding: 0 0 50px 0;

  @include min-width($bpFull) {
    display: table-cell;
    border-left: 1px solid black(0.10);
    padding: 0 0 50px 20px;
    width: 83.95%;
  }

}

.main-controls {

  @include clearfix;
  border-bottom: 3px double $cGrey;
  clear: both;
  padding: 15px 0 15px 0;
  width: 100%;

  &-left {
    margin: 0 0 5px 0;
    @include min-width($bpFull) {
      margin: 0;
      float: left;
    }
  }

  &-right {
    margin: 15px 0 10px 0;
    @include min-width($bpFull) {
      margin: 0;
      float: right;
    }
  }


  h1 {
    font-weight: bold;
    line-height: 21px;
    margin: 6px 0 0 0;
  }

  &.-inverse {
    border: 0;
    border-top: 3px double $cGrey;
    margin: 24px 0 0 0;
  }

}

.crumb {
  color: #999;
  &:after {
    content: " / ";
    font-weight: bold;
  }

  a:link,
  a:visited {
    color: #999;
  }
}

