.main {

  @include clearfix;
  background-color: #fff;
  width: 100%;

  @include min-width($bpFull) {
    display: table-cell;
    border-left: 1px solid black(0.10);
    padding: 0 0 0 20px;
    width: 83.95%;
  }

}

.main-interior {
  @include clearfix;
}

.main-controls {

  @include clearfix;
  border-bottom: 3px double $cGrey;
  clear: both;
  padding: 15px 0 15px 0;
  width: 100%;

  h1 {
    font-weight: bold;
    line-height: 16px;
    margin: 9px 0 0 0;
  }

  &.-inverse {
    border: 0;
    border-top: 3px double $cGrey;
    margin: 24px 0 0 0;
  }

}

.crumb {
  color: #999;
  &:after {
    content: " / ";
    font-weight: bold;
  }
}

