.markdown-body {

  font-size: 14px;
  line-height: 1.5;

  .dim {
    color: #999;
  }

  * + * {
    margin-top: 1em;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    color: $cSapphire;
    text-decoration: underline;
    &:hover, &:active {
      text-decoration: none;
    }
  }

  h1 {
    font-size: 160%;
    font-weight: bold;
  }

  h2 {
    font-size: 140%;
    font-weight: bold;
  }

  h3 {
    font-size: 120%;
    font-weight: bold;
  }

  h4 {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: -1em;
  }

  h5 {
    font-size: 100%;
    font-style: italic;
    margin-bottom: -1em;
  }

  blockquote {
    display: block;
    color: $cDarkGrey;
    border-left: 2px solid $cDarkGrey;
    padding: 0 0 0 0.5em;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ol li {
    list-style: decimal;
    margin: 0 1.5em 0 1.5em;
  }

  ul li {
    list-style: square;
    margin: 0 1.5em 0 1.5em;
  }

  hr {
    margin: 1.25em 0 1.25em 0;
  }

  code, pre {
    background-color: black(0.04);
    border-radius: 2px;
    color: $cPlum;
    font-family: $fMonospace;
    font-size: 14px;
  }

  pre {
    display: block;
    padding: 1em;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
  }

  code {
    margin: 0;
    padding: 0.1em 0.2em 0.1em 0.2em;
  }

  pre > code {
    background: none;
    padding: 0;
  }

}
