.navigation {
  width: 22%;
  padding: 0 0 0 0;
  float: left;
  @include min-width(900px) {
    width: 15%;
  }
}

.navigation-group {

  & + & {
    margin-top: 10px;
  }

  h3 {
    @extend %clearfix;
    @extend %helvetica;
    display: block;
    font-size: 11px;
    line-height: 26px;
    padding: 0 0 0 3px;
    text-transform: uppercase;
    color: #999;
  }

  li {

    @extend %clearfix;
    display: block;
    line-height: 28px;

    .icon {
      color: $cDarkPlum;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      width: 22px;
      text-shadow: none;
    }

    a {
      color: #555;
      // background: $cWhite;
      display: block;
      font-size: 14px;
      padding: 0 8px 0 0;
      // border-left: 1px solid black(0.15);
      // border-right: 1px solid black(0.15);
      // border-bottom: 1px solid black(0.15);
      // border-top: 1px solid transparent;
      text-shadow: 1px 1px 0px white(0.5);
      // border-radius: 0 0 2px 2px;

      &:hover, &:active,
      &.current {
        background: white(0.5);
      }

      &.current {
        color: $cThreespotPink;
        text-shadow: none;
        // background: $cWhite;
        // border-left: 2px solid $cThreespotPink;
        .icon {
          color: $cThreespotPink;
        }
      }

    }

  }

}
