.navigation {

  position: relative;

  .js & {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 100ms linear, padding 100ms linear, border 100ms linear;
    &.-open {
      max-height: 2000px;
      padding: 10px 0 15px 0;
      border-bottom: 3px double $cGrey;
    }
  }

  @include min-width($bpFull) {
    width: 16%;
    border-bottom: 0;
    padding: 10px 0 0 0;
    display: table-cell;
    vertical-align: top;
  }
}

.navigation-group {

  & + & {
    margin-top: 10px;
  }

  h3 {
    @include clearfix;
    @extend %helvetica;
    display: block;
    font-size: 11px;
    line-height: 26px;
    padding: 0 0 0 3px;
    text-transform: uppercase;
    color: #999;
  }

  li {

    @include clearfix;
    display: block;
    line-height: 28px;

    .icon {
      color: $cPlum;
      margin: 0 5px 0 2px;
      text-shadow: none;
    }

    a {
      transition: color 200ms;
      color: #555;
      display: block;
      font-size: 14px;
      padding: 0 8px 0 0;
      text-shadow: 1px 1px 0px white(0.5);

      .icon {
        transition: color 200ms;
      }

      &:hover, &:active,
      &.current {
        color: $cThreespotPink;
        text-shadow: none;
        .icon {
          color: $cThreespotPink;
        }
      }

    }

  }

}
