.navigation {
  width: 100%;
  padding: 10px 0 0 0;
  @include min-width($bpFull) {
    width: 16%;
    float: left;
  }
}

.navigation-group {

  & + & {
    margin-top: 10px;
  }

  h3 {
    @extend %clearfix;
    @extend %helvetica;
    display: block;
    font-size: 11px;
    line-height: 26px;
    padding: 0 0 0 3px;
    text-transform: uppercase;
    color: #999;
  }

  li {

    @extend %clearfix;
    display: block;
    line-height: 28px;

    .icon {
      color: $cDarkPlum;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      width: 22px;
      text-shadow: none;
    }

    a {
      transition: color 200ms;
      color: #555;
      display: block;
      font-size: 14px;
      padding: 0 8px 0 0;
      text-shadow: 1px 1px 0px white(0.5);

      .icon {
        transition: color 200ms;
      }

      &:hover, &:active,
      &.current {
        color: $cThreespotPink;
        text-shadow: none;
        .icon {
          color: $cThreespotPink;
        }
      }

    }

  }

}
