.resource-form {

  &-interior {
    @include clearfix;
    padding: 18px 0 0 0;
  }

  label {

    display: block;
    margin: 25px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.25;
    color: $cPlum;
    margin: 0 0 10px 0;
    clear: left;

    @include min-width($bpFull) {
      float: left;
      width: 20%;
      display: block;
      clear: left;
      line-height: 1.25;
      padding: 0;
      margin: 11px 0 10px 0;
    }

  }

  input[type=color],
  input[type=datetime-local],
  input[type=datetime],
  input[type=date],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=telephone],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  select,
  textarea {

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fefefe;
    border-radius: 2px;
    border: 1px solid $cTaupe;
    color: $cPlum;
    display: block;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 10px;
    transition: background-color 100ms linear, border-color 100ms linear;
    width: 100%;

    @include min-width($bpFull) {
      float: left;
      width: 79%;
      max-width: 520px;
    }

    &:focus {
      background-color: #fff;
      border-bottom-color: $cSapphire;
      border-color: darken($cSapphire, 10);
      border-right-color: $cSapphire;
      outline: none;
    }

  }

  .field-cluster {

    @include clearfix;
    display: block;
    width: 100%;

    input[type=checkbox] {

      border-radius: 2px;
      border: 1px solid $cTaupe;
      clear: left;
      color: $cPlum;
      float: left;
      height: 30px;
      margin: 4px 15px 4px 0;
      transition: border 100ms linear;
      width: 30px;

      &:focus, &:hover {
        border-color: $cPlum;
      }

      &:checked {
        border-color: $cSapphire;
        background-color: #fff;
      }

      &:checked:before {
        color: $cSapphire;
        content: "✔";
        display: block;
        height: 28px;
        line-height: 28px;
        text-align: center;
        width: 28px;
      }

    }

    label {
      width: 50%;
      width: calc(100% - 50px);
      float: left;
      clear: none;
      margin: 10px 0 0 0;
      font-weight: bold;
    }

    select {
      width: auto;
      min-width: 20%;
      float: left;
      margin-right: 4px;
    }

    @include min-width($bpFull) {
      float: left;
      width: 79%;
      max-width: 520px;
    }

  }

  input[type=text]::-ms-clear { display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  select {
    background-image: image-url("admin/select_arrows.png");
    background-size: 6px 10px;
    background-position: right 12px center;
    background-repeat: no-repeat;
    padding-right: 20px;
    &[multiple] {
      background-image: none;
      height: 43px;
    }
  }

  .hint {
    color: #888;
    display: block;
    font-size: 12px;
    font-style: italic;
    line-height: 1.25;

    margin: 12px 0 15px 0;
    width: 100%;
    border-bottom: 1px dashed black(0.1);
    padding: 0 0 10px 0;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      padding-bottom: 0;
    }

    span {
      display: block;
      max-width: 520px;
    }

    @include min-width($bpFull) {
      clear: both;
      float: right;
      padding: 0 0 10px 20%;
      margin: 10px 0 15px 0;
    }
  }

  hr {
    height: 0;
    border: 0;
    border-top: 3px double $cGrey;
    margin: 20px 0 20px 0;
    width: 100%;
    @include min-width($bpFull) {
      float: left;
      clear: both;
    }
  }

  input::-webkit-input-placeholder {color: #ccc}
  input:-moz-placeholder {color: #ccc}
  input::-moz-placeholder {color: #ccc}
  input:-ms-input-placeholder {color: #ccc}

  .field_with_errors {
    input, textarea, select,
    button {
      border: 1px solid darken($cRuby, 10);
      border-bottom-color: $cRuby;
      border-right-color: $cRuby;
    }
  }

}
