.search-form {

  @include clearfix;
  position: relative;
  background: black(0.02);
  padding: 25px 15px 25px 15px;
  border-bottom: 1px solid $cGrey;
  width: 100%;
  float: right;

  label {
    @include min-width($bpFull) {
      text-align: right;
      padding-right: 15px;
    }
  }

  & > input,
  & > select,
  & > div:not(&-controlls) {
    margin-bottom: 15px;
  }

  &-controlls {
    @include clearfix;
    clear: both;
    display: block;
    text-align: left;
    margin: 5px 0 0 0;
    @include min-width($bpFull) {
      float: right;
      width: 80%;
    }
  }

}
