$cSessionPlaceholder: #888;

.admin-session {
  background-image:
    asset-data-url("admin/noise.png"),
    linear-gradient(to bottom, darken(#373D4A, 10), #573C5E);
  background-repeat: repeat;
  height: 100%;
}

.session-form {

  display: block;
  margin: 15% auto 0 auto;
  width: 100%;
  max-width: 350px;

  input[type=text],
  input[type=email] {
    background: #E7E6E8;
    border-radius: 2px;
    border-width: 2px;
    box-shadow: 0px 1px 0px black(0.5);
    border: 2px solid transparent;
    color: $cPlum;
    transition: border-color 100ms linear;
    display: block;
    font-size: 18px;
    padding: 10px 12px;
    text-align: center;
    width: 100%;
    &:focus, &:active {
      border-color: darken($cSapphire, 10);
      border-bottom-color: $cSapphire;
      border-right-color: $cSapphire;
      background: #fff;
    }
  }


  &-checkbox-group {

    @include clearfix;
    display: block;
    width: 100%;
    margin: 20px auto 20px auto;
    text-align: center;
    line-height: 32px;

    input[type=checkbox] {
      -webkit-appearance: none;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      display: inline-block;
      background: transparent;
      font-size: 20px;
      border: 2px solid transparentize($cWhite, 0.5);
      &:after {
        color: transparent;
        content: "\2714\FE0E";
        display: block;
        font-family: $fHelvetica;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
      }
      &:checked {
        border-color: $cWhite;
      }
      &:checked:after {
        color: $cWhite;
      }
    }

    label {
      color: $cWhite;
      display: inline-block;
      margin: 0 0 0 8px;
      font-size: 18px;
      font-weight: normal;
    }

  }

  h1 {
    color: $cWhite;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    margin: 0 0 25px 0;
    line-height: 1.1;
  }

  input::-webkit-input-placeholder {color: $cSessionPlaceholder}
  input:-moz-placeholder {color: $cSessionPlaceholder}
  input::-moz-placeholder {color: $cSessionPlaceholder}
  input:-ms-input-placeholder {color: $cSessionPlaceholder}

  .session-button {
    font-size: 18px;
    transition: background-color 100ms linear;
    display: block;
    color: $cWhite;
    border: 2px solid white;
    background: none;
    padding: 10px 0;
    border-radius: 2px;
    box-shadow: 0px 1px 0px black(0.5);
    width: 100%;
    margin: 20px auto 20px auto;
    &:hover, &:focus, &:active {
      background: white(0.10);
    }
  }

  .session-spinner {
    -webkit-animation: fa-spin 300ms infinite linear;
    animation: fa-spin 300ms infinite linear;
    border-radius: 100%;
    border-top: 2px solid $cWhite;
    display: block;
    height: 46px;
    margin: 15px auto 0 auto;
    width: 46px;
  }

  &-resend {
    text-align: center;
    margin: 60px 0 0 0;
    button {
      background: none;
      color: $cWhite;
      display: inline-block;
      color: transparentize($cWhite, 0.5);
      font-size: 12px;
      &:hover, &:active {
        color: $cWhite;
      }
    }
  }

  &-feedback {
    color: $cWhite;
    text-align: center;
    margin: 25px 0 25px 0;
    line-height: 1.3;
  }

}
