$cButtonStandard: #2ea8d6;
$cButtonDanger: #e85a56;
$cButtonSuccess: #5cb95c;
$cButtonInverse: #999;

button, .button {

  &,
  &:link, &:visited,
  &:hover, &:active {

    background: $cButtonStandard;
    border-radius: 2px;
    border: 1px solid;
    border-color: black(0.1) black(0.1) black(0.25);
    box-shadow: inset 0 1px 0 white(0.2), 0 1px 2px black(0.05);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 14px;
    text-shadow: 0 -1px 0 black(0.25);

    &.danger  { background: $cButtonDanger }
    &.success { background: $cButtonSuccess }
    &.inverse { background: $cButtonInverse }

  }

  &:hover, &:active {

    background: darken($cButtonStandard, 8);

    &.danger  { background: darken($cButtonDanger, 8) }
    &.success { background: darken($cButtonSuccess, 8) }
    &.inverse { background: darken($cButtonInverse, 8) }

  }

  &:active {
    box-shadow: inset 0px 2px 5px black(0.25);
  }

}

