$formPadding: 8px;
$formInsetShadow: black(0.075) 0px 1px 2px 0px inset;
$formBorderColor: #0d94d0;

#inputs-wide {
  width: 60%;
  padding: 0 2.5% 0 0;
  float: left;

}

#inputs-narrow {
  width: 34%;
  padding: 0 1% 0 2.5%;
  float: left;
  border-left: 1px dashed black(0.25);
}

form {

  line-height: 1.33;
  font-size: 16px;

  .inputs li {
    display: block;
    padding: 10px 0 10px 0;
  }

  .inputs li.date_select {
    display: none;
  }

  ol, ul, li {
    list-style: none;
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: $formPadding;
  }

  input, textarea, select {

    display: block;
    font-size: 16px;
    line-height: 1.33;
    padding: $formPadding;
    border-radius: 2px;
    width: 97%;
    border: 1px solid #c1c6c8;
    background: #fcfcfc;
    box-shadow: $formInsetShadow;

    &.focus, &:focus {
      background: #fff;
      border-color: $formBorderColor;
      box-shadow: 0px 0px 5px transparentize(lighten($formBorderColor,10),0.33), $formInsetShadow;
    }

  }

//  fieldset {
//    border: 1px solid black(0.1);
//    padding: 0 0 25px 25px;
//    border-left-width: 25px;
//    margin-left: -25px;
//  }

}

.inline-hints {
  font-size: 11px;
  margin-top: $formPadding;
  font-style: italic;
  color: black(0.33);
  max-width: 32em;
}
