#header {
  background: #e5e5e5;
  margin: -25px -25px 15px -25px;
  padding: 8px 25px 8px 25px;
  border-bottom: 1px solid #acacac;
  box-shadow: 0px 1px 0px #fff;

  h1 {
    font-size: 18px;
  }

  .form-actions {
    float: right;
    margin-top: -36px;
  }

}

#breadcrumbs {
  text-transform: uppercase;
  font-size: 11px;
}
