textarea.markdown {
  font-family: $monospace;
  border-top: 0;
  box-shadow: 0;
}

.markdown-controls {
  border: 1px solid #c1c6c8;
  border-bottom: 1px dashed #c1c6c8;
  border-radius: 2px 2px 0 0;
  background: #fcfcfc;
  box-shadow: black(0.075) 0px 1px 2px 0px inset;
  padding: 10px;
  letter-spacing: -2px;
  height: 26px;
  button {
    padding: 4px 8px;
  }
}

.markdown-meta {
  float: right;
}

.markdown-formatting {
  float: left;
}
