<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tolaria</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tolaria/tolaria", media:"all" %>
    <%= javascript_include_tag "tolaria/lib/require", data:{main:"/assets/tolaria/tolaria"} %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
